<nz-card>
  <form #form="ngForm" nz-form (submit)="saved.emit(currentBook)">
    <nz-form-item>
      <input nz-input name="name" placeholder="Name" type="text" [(ngModel)]="currentBook.name" required/>
    </nz-form-item>
    <nz-form-item>
      <input nz-input name="author" placeholder="Author" [(ngModel)]="currentBook.author" required/>
    </nz-form-item>
    <nz-form-item>
      <input nz-input name="year" placeholder="Year" [(ngModel)]="currentBook.year" type="number" required/>
    </nz-form-item>
    <nz-form-item>
      <input nz-input name="image" placeholder="Image link" [(ngModel)]="currentBook.image" required/>
    </nz-form-item>
    <button
      nz-button
      nzBlock
      nzType="default"
      (click)="form.reset();cancelled.emit()"
      type="button"
    >
      Cancel
    </button>
    <button
      nz-button
      nzBlock
      nzType="primary"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </form>
</nz-card>
